  <div class="segment align-center-box">
    <h3>Editar menú</h3>
  </div>
  
  <div class="align-center-box">
    <!-- HOME -->
    <%= link_to welcome_index_url, style: "text-decoration: none; display: inline-block" do %>
      <i class="fa fa-home fa-2x  llink" aria-hidden="true" title="Ir al Home"></i>
    <% end %>
    &nbsp;
    &nbsp;
    &nbsp;
    <!-- VOLVER -->
    <%= link_to menus_path, style: "text-decoration: none; display: inline-block" do %>
      <i class="fa fa-fast-backward fa-2x  llink" aria-hidden="true" title="Volver"></i>
    <% end %>
  </div>

<div id="menus" class="q align-center-box">
  <div id="cards" class="align-center-box shadow rounded">
    <table class="table table-responsive p-3 table-dark  table-striped  shadow rounded ">
      <tbody>
        <tr>
          <td scope="row">
            <%= render "form", menu: @menu %>
          </td>
          <td scope="row">
            <br>
              <!-- CARD -->
              <div id="card" class="align-center-box">
                <%= link_to @menu.rute, class: "btn llink card", style: "none" do %>
                  <div class="card-content">
                    <div class="card-image">
                      <i class="<%= @menu.icon %>" style="--fa-secondary-opacity: 0.50"></i>
                    </div>
                    <div class="card-info-wrapper">
                      <div class="card-info align-start-box">
                        <i class="<%= @menu.icon %> "></i>
                        <div class="card-info-title">
                          <h3><%= @menu.name %></h3>
                          <h4><%= @menu.description %></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <!-- END CARD -->
                <!-- % render "card", menu: @menu % -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>