<p style="color: green"><%= notice %></p>

<%= render @images_type %>

<div>
  <%= link_to "Edit this images type", edit_images_type_path(@images_type) %> |
  <%= link_to "Back to images types", images_types_path %>

  <%= button_to "Destroy this images type", @images_type, method: :delete %>
</div>
