<div id="<%= dom_id task %>">
  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= task.image_id %>
  </p>

  <p>
    <strong>Process type:</strong>
    <%= task.process_type_id %>
  </p>

  <p>
    <strong>State process:</strong>
    <%= task.state_process_id %>
  </p>

  <p>
    <strong>State date:</strong>
    <%= task.state_date %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= task.comment_id %>
  </p>

  <p>
    <strong>Creation date:</strong>
    <%= task.creation_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= task.end_date %>
  </p>

</div>
