<%= form_with(model: tasks_config) do |form| %>
  <% if tasks_config.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tasks_config.errors.count, "error") %> prohibited this tasks_config from being saved:</h2>

      <ul>
        <% tasks_config.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :task_id, style: "display: block" %>
    <%= form.number_field :task_id %>
  </div>

  <div>
    <%= form.label :image_id, style: "display: block" %>
    <%= form.number_field :image_id %>
  </div>

  <div>
    <%= form.label :config_id, style: "display: block" %>
    <%= form.number_field :config_id %>
  </div>

  <div>
    <%= form.label :config_value, style: "display: block" %>
    <%= form.text_field :config_value %>
  </div>

  <div>
    <%= form.label :enabled, style: "display: block" %>
    <%= form.check_box :enabled %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
