<div id="<%= dom_id tasks_config %>">
  <p>
    <strong>Task:</strong>
    <%= tasks_config.task_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= tasks_config.image_id %>
  </p>

  <p>
    <strong>Config:</strong>
    <%= tasks_config.config_id %>
  </p>

  <p>
    <strong>Config value:</strong>
    <%= tasks_config.config_value %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= tasks_config.enabled %>
  </p>

</div>
