<%= form_with(model: plan) do |form| %>
  <% if plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :payment_date, style: "display: block" %>
    <%= form.datetime_field :payment_date %>
  </div>

  <div>
    <%= form.label :expiration_date, style: "display: block" %>
    <%= form.datetime_field :expiration_date %>
  </div>

  <div>
    <%= form.label :type_plans_id, style: "display: block" %>
    <%= form.number_field :type_plans_id %>
  </div>

  <div>
    <%= form.label :enabled, style: "display: block" %>
    <%= form.check_box :enabled %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
