<div id="<%= dom_id plan %>">
  <p>
    <strong>Payment date:</strong>
    <%= plan.payment_date %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= plan.expiration_date %>
  </p>

  <p>
    <strong>Type plans:</strong>
    <%= plan.type_plans_id %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= plan.enabled %>
  </p>

</div>
